.session_form .nav {
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

@media (min-width: 768px) {
  .session_form .nav > li {
    border-left: 1px solid hsl(0, 0%, 87%);
  }
}

.session_form .nav-justified > li {
  display: table-cell;
  width: 1%;
}

.session_form .nav > li:first-child {
  border-left: 0 none;
}

.session_form .nav > li > a {
  background-color: hsl(0, 0%, 96%);
  margin-bottom: 0;
}

.session_form .nav > li.active > a {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 33%);
  cursor: default;
}
