extends:
  - eslint:recommended
  - airbnb

env:
  mocha: true

rules:
  no-restricted-syntax: 0
  no-console: 0
  no-unused-expressions: 0
  chai-friendly/no-unused-expressions: 2

plugins:
  - mocha-no-only
  - chai-expect
  - chai-friendly
