Congratulations, you've successfully started the example server!

<h2>Run an example application</h2>

<p>Pick an application below and follow instructions:</p>

<table>
  <thead>
    <tr><th>example application</th><th>description</th></tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/?app=api">API Observer</a></td>
      <td>JavaScript web app with code snippets</td>
    </tr>
    <tr>
      <td><a href="/?app=notepad">Notepad</a></td>
      <td>JavaScript web app with realistic UI flows</td>
    </tr>
    <tr>
      <td><a href="/?app=hello">Hello World</a></td>
      <td>JavaScript client script in Node.JS</td>
    </tr>
  </tbody>
</table>

<h2>Step by step tutorial</h2>

<p>You can also follow our <a href="/?app=tutorial">Tutorial</a>, and learn how to add end-to-end encryption in an application with Tanker.</p>

<!--
<p>For the record, here is where you can find the sources of all example applications:</p>

<pre>
.
├── bin
├── config
├── client
│   ├── android
│   │   └── notepad       -> simple notepad app encrypted with Tanker
│   ├── ios
│   │   └── notepad       -> simple notepad app encrypted with Tanker
│   ├── nodejs
│   │   └── hello-world   -> example script with Node.JS
│   └── web
│       ├── api-observer  -> simple playground app with code snippets
│       ├── notepad       -> simple notepad app encrypted with Tanker
│       └── tutorial      -> learn how to use Tanker
└── server                -> example server for all apps (fake auth...)
</pre>
-->

<br /><br />
<hr />
<br />
