#settings-body {
    padding: 30px;
}

#settings-body section {
    margin-bottom: 2em;
}

#settings-body h2 {
    font-size: 16px;
    margin: 0 0 16px 0;
    padding: 0;
}

#settings-body .edit-link {
    padding-left: 0;
}